/ {
    chosen {
        zephyr,display = &oled;
        zmk,battery = &vbatt;
        zmk,kscan = &kscan0;
        zmk,physical-layout = &default_layout;
    };

    /* 入力処理の設定はルートノード内に入れる */
    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;
        trackball_split: trackball_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
            device = <&trackball>;
        };
    };

    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        status = "okay";
        device = <&trackball>;
        input-processors = <&zip_temp_layer 1 400>;
        scroll {
            layers = <2>;
            input-processors = <&zip_xy_transform (INPUT_TRANSFORM_Y_INVERT)>, <&zip_xy_scaler 1 16>, <&zip_xy_to_scroll_mapper>;
        };
    };
}; // ここでルートノードを閉じる

/* エイリアス上書きが必要な場合 */
/ {
    aliases {
        nice_oled_i2c = &i2c0;
    };
};

&pinctrl {
    spi1_default: spi1_default {
        group1 {
            /* MOSIとMISOが同じピン 0,4 になっている点を要確認 */
            psels = <NRF_PSEL(SPIM_SCK, 0, 5)>, <NRF_PSEL(SPIM_MOSI, 0, 4)>, <NRF_PSEL(SPIM_MISO, 0, 3)>;
        };
    };
};
